# Pattern Events Addon

event:
  - id: !extend entrance_doorbell_pattern
    event_types:
      - "single"
      - "double"
      - "triple"
      - "quadruple"

  - id: !extend second_entrance_doorbell_pattern
    event_types:
      - "single"
      - "double"
      - "triple"
      - "quadruple"

  - id: !extend apartment_doorbell_pattern
    event_types:
      - "single"
      - "double"
      - "triple"
      - "quadruple"

  - id: !extend phone_pick_up_pattern
    event_types:
      - "single"
      - "double"
      - "triple"
      - "quadruple"

binary_sensor:
  - id: !extend entrance_doorbell
    on_multi_click:
      # Single press
      - timing:
          - ON for at most 0.5s
          - OFF for at least 1.8s
        trigger_id: edb_pattern_single
        then:
          - event.trigger:
              id: entrance_doorbell_pattern
              event_type: single

      # Double press
      - timing:
          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at least 1.7s
        trigger_id: edb_pattern_double
        then:
          - lambda: !lambda "id(edb_pattern_single).cancel();"
          - event.trigger:
              id: entrance_doorbell_pattern
              event_type: double
              
      # Triple press
      - timing:
          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at least 1.6s
        trigger_id: edb_pattern_triple
        then:
          - lambda: !lambda "id(edb_pattern_single).cancel();"
          - event.trigger:
              id: entrance_doorbell_pattern
              event_type: triple

      # Quadruple press
      - timing:
          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at least 1.5s
        trigger_id: edb_pattern_quadruple
        then:
          - lambda: !lambda "id(edb_pattern_single).cancel();"
          - event.trigger:
              id: entrance_doorbell_pattern
              event_type: quadruple

  - id: !extend second_entrance_doorbell
    on_multi_click:
      # Single press
      - timing:
          - ON for at most 0.5s
          - OFF for at least 1.8s
        trigger_id: sedb_pattern_single
        then:
          - event.trigger:
              id: second_entrance_doorbell_pattern
              event_type: single

      # Double press
      - timing:
          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at least 1.7s
        trigger_id: sedb_pattern_double
        then:
          - lambda: !lambda "id(sedb_pattern_single).cancel();"
          - event.trigger:
              id: second_entrance_doorbell_pattern
              event_type: double
              
      # Triple press
      - timing:
          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at least 1.6s
        trigger_id: sedb_pattern_triple
        then:
          - lambda: !lambda "id(sedb_pattern_single).cancel();"
          - event.trigger:
              id: second_entrance_doorbell_pattern
              event_type: triple

      # Quadruple press
      - timing:
          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at least 1.5s
        trigger_id: sedb_pattern_quadruple
        then:
          - lambda: !lambda "id(sedb_pattern_single).cancel();"
          - event.trigger:
              id: second_entrance_doorbell_pattern
              event_type: quadruple

  - id: !extend apartment_doorbell
    on_multi_click:
      # Single press
      - timing:
          - ON for at most 0.5s
          - OFF for at least 1.8s
        trigger_id: adb_pattern_single
        then:
          - event.trigger:
              id: apartment_doorbell_pattern
              event_type: single

      # Double press
      - timing:
          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at least 1.7s
        trigger_id: adb_pattern_double
        then:
          - lambda: !lambda "id(adb_pattern_single).cancel();"
          - event.trigger:
              id: apartment_doorbell_pattern
              event_type: double
              
      # Triple press
      - timing:
          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at least 1.6s
        trigger_id: adb_pattern_triple
        then:
          - lambda: !lambda "id(adb_pattern_single).cancel();"
          - event.trigger:
              id: apartment_doorbell_pattern
              event_type: triple

      # Quadruple press
      - timing:
          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at least 1.5s
        trigger_id: adb_pattern_quadruple
        then:
          - lambda: !lambda "id(adb_pattern_single).cancel();"
          - event.trigger:
              id: apartment_doorbell_pattern
              event_type: quadruple

  - id: !extend pick_up_phone
    on_multi_click:
      # Single press
      - timing:
          - ON for at most 0.5s
          - OFF for at least 1.8s
        trigger_id: ppu_pattern_single
        then:
          - event.trigger:
              id: phone_pick_up_pattern
              event_type: single

      # Double press
      - timing:
          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at least 1.7s
        trigger_id: ppu_pattern_double
        then:
          - lambda: !lambda "id(ppu_pattern_single).cancel();"
          - event.trigger:
              id: phone_pick_up_pattern
              event_type: double
              
      # Triple press
      - timing:
          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at least 1.6s
        trigger_id: ppu_pattern_triple
        then:
          - lambda: !lambda "id(ppu_pattern_single).cancel();"
          - event.trigger:
              id: phone_pick_up_pattern
              event_type: triple

      # Quadruple press
      - timing:
          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at most 1s

          - ON for at most 0.5s
          - OFF for at least 1.5s
        trigger_id: ppu_pattern_quadruple
        then:
          - lambda: !lambda "id(ppu_pattern_single).cancel();"
          - event.trigger:
              id: phone_pick_up_pattern
              event_type: quadruple